<org-header></org-header>

<div *ngIf="userData$ | async as userData" class="settings container">
  <h2
    [orgText]="{
    ENG: 'Profile settings',
    ESP: 'Configuración de perfil',
    RUS: 'Настройки профиля',
  }"
  >
    Profile settings
  </h2>

  <div class="settings-avatar">
    <div class="settings-avatar_image">
      @if (userData?.image) {
      <img [src]="userData?.image" class="--avatar" (click)="imageModal.show()" />
      <org-image-modal #imageModal [imageUrl]="userData?.image"></org-image-modal>
      } @else { @if (image) {
      <img [src]="image" />
      } @else {
      <img [srcPath]="'camera.svg'" />
      } }
    </div>

    <div class="settings-upload">
      <input type="file" #fileInput hidden (change)="onFileSelected($event)" />

      @if ((userData$ | async)?.image || image) {
      <button
        (click)="triggerFileInput()"
        class="btn-secondary"
        [orgText]="{
          ENG: 'Change avatar',
          ESP: 'Cambiar avatar',
          RUS: 'Изменить аватарку',
        }"
      >
        Change avatar
      </button>
      } @else {
      <button
        (click)="triggerFileInput()"
        class="btn-secondary"
        [orgText]="{
          ENG: 'Add avatar',
          ESP: 'Agregar avatar',
          RUS: 'Добавить аватарку',
        }"
      >
        Add avatar
      </button>
      }
    </div>
  </div>

  <div class="settings-login --shadow">
    <p
      [orgText]="{
      ENG: 'Change your login:',
      ESP: 'Cambia tu inicio de sesión:',
      RUS: 'Изменить логин:',
    }"
    >
      Change your login:
    </p>
    <div>
      <input type="text" [value]="userData.username" />
      <img class="--pencil" [srcPath]="'pencil-edit.svg'" />
    </div>
  </div>

  <div class="settings-email --shadow">
    <p
      [orgText]="{
      ENG: 'Change your email:',
      ESP: 'Cambia tu correo electrónico:',
      RUS: 'Изменить email:',
    }"
    >
      Change your email:
    </p>
    <div>
      <input type="text" [value]="userData.email" />
      <img class="--pencil" [srcPath]="'pencil-edit.svg'" />
    </div>
  </div>

  <!-- <div class="settings-password --shadow">
    <p
      [orgText]="{
      ENG: 'Change your password:',
      ESP: 'Cambia tu inicio de sesión:',
      RUS: 'Изменить пароль:',
    }"
    >
      Change your password:
    </p>
    <div>
      <input type="password" value="214ывфып123" />
      <img class="--pencil" [srcPath]="'pencil-edit.svg'" />
    </div>
  </div> -->

  <h2
    [orgText]="{
    ENG: 'Profile settings',
    ESP: 'Configuración de perfil',
    RUS: 'Общие',
  }"
  >
    Profile settings
  </h2>

  <div class="settings-login --shadow">
    <p
      [orgText]="{
      ENG: 'Change your login:',
      ESP: 'Cambia tu inicio de sesión:',
      RUS: 'Время запроса на удаление видео:',
    }"
    >
      Change your login:
    </p>
    <div>
      <input type="text" value="72h" />
      <img class="--pencil" [srcPath]="'pencil-edit.svg'" />
    </div>
  </div>

  <div class="settings-logout">
    <button
      (click)="logout()"
      class="btn-err"
      [orgText]="{
      ENG: 'Logout',
      ESP: 'Salir',
      RUS: 'Выйти из аккаунта',
    }"
    >
      Выйти из аккаунта
    </button>
  </div>
</div>

<org-footer></org-footer>

<!-- <org-checkbox (change)="onCheckboxChange($event)" [initialValue]="false"></org-checkbox> -->
