@import 'mixins';

form {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 8px;
  input {
    margin: 4px;
    height: 40px;
    padding: 8px;
    width: 140px;
  }
}

.people {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: 65dvh;
  overflow-x: auto;
  box-shadow: inset 4px -5px 5px -5px, inset 0px 5px 5px -5px;
  border-radius: 8px;

  &-title {
    font-size: 18px;
    text-align: center;
    margin: 5px;
  }

  .person {
    position: relative;
    display: flex;
    flex-direction: row;

    border: 1px solid grey;
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
    padding: 16px;

    // &:nth-child(2n) {
    //   background: $super-transparent-grey;
    // }

    &-image {
      width: 60px;
      min-width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: contain;
      cursor: pointer;
    }
    org-empty-avatar {
      width: 60px;
      min-width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      width: 100%;

      &_name {
        cursor: pointer;
      }

      &_email {
        cursor: pointer;
      }

      &_checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid $transparent-grey;

        &--text {
          margin-right: 5px;
        }
      }

      &_media {
        height: 35px;
        max-width: 200px;
        margin-top: 10px;
        color: $prime-green;
        cursor: pointer;

        &:hover {
          color: $prime-blue;
        }
      }
    }

    &-delete {
      position: absolute;
      right: 16px;

      margin-left: auto;
      width: 30px;
      height: 30px;

      org-delete-button {
        height: 100%;
      }
    }
  }
}
