<div class="people">
  <div class="people-title" [orgText]="{
    ENG: 'You receive notifications from these users',
    ESP: 'Recibes notificaciones de estos usuarios',
    RUS: 'Вы получаете уведомления от этих пользователей',
  }">You receive notifications from these users</div>

  @for (person of trustedPeopleList; track person.id) {
    <div class="person">
      @if (person.image) {
        <img class="person-image" [srcPath]="person.image">
      } @else {
        <org-empty-avatar [id]="person.id"></org-empty-avatar>
      }

      <div class="person-text">
        <div class="person-text_name">{{person.username}}</div>
        <div class="person-text_email">{{person.email}}</div>
        <div class="person-text_checkbox">
          <p class="person-text_checkbox--text" [orgText]="{
            ENG: 'This user receives notifications from you',
            ESP: 'Este usuario recibe notificaciones tuyas',
            RUS: 'Этот пользователь получает уведомления от вас',
          }">This user receives notifications from you</p>
          <org-checkbox (change)="onCheckboxChange($event)" [initialValue]="person.activeListener"></org-checkbox>
        </div>
        <button class="person-text_media" routerLink="/trusted-profile" [orgText]="{
          ENG: 'Saved media',
          ESP: 'Medios guardados',
          RUS: 'Сохранённые медиа',
        }">Saved media</button>
      </div>

      <div class="person-delete">
        <org-delete-button (delete)="onDelete($event, person.username)"></org-delete-button>
      </div>
    </div>
  }
</div>
