<div class="saved container">
  <div class="saved-buttons">
    <button
      class="saved-buttons_video"
      (click)="changeTab(0)"
      [class.active]="!currentTab"
      [orgText]="{
      ENG: 'Video',
      ESP: 'Video',
      RUS: 'Видео',
    }"
    >
      Video
    </button>
    <button
      (click)="changeTab(1)"
      [class.active]="currentTab"
      [orgText]="{
      ENG: 'Audio',
      ESP: 'Audio',
      RUS: 'Аудио',
    }"
    >
      Audio
    </button>
  </div>

  @if(currentTab) {
  <org-audio-block></org-audio-block>
  } @else {
  <org-video-block [videos]="(userData$ | async)?.videos || []" [isOwn]="true"></org-video-block>
  }
</div>
