@import 'mixins';

.del {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @include unselectable;

  &::after {
    content: '+';
    min-height: 20px;
    height: 20px;
    min-width: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red-color;
    border: 1px solid $prime-grey;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    transform: rotate(45deg);
    border-radius: 50%;
    cursor: pointer;
  }
}

.del:hover {
  &::after {
    background-color: $red-color;
    color: $prime-grey;
  }
}
