@import 'mixins';

:host {
  // margin-top: 80px;
  position: relative;
}

.main {
  flex-direction: column;

  &-logo {
    height: 19dvh;
    margin-top: 13dvh;
    color: $prime-blue;
    flex-direction: column;

    img {
      height: 100%;
    }
  }

  &-title {
    position: absolute;
    top: 27dvh;
    height: 3.5dvh;
  }

  &-text {
    display: inline-flex;
    align-items: center;
    @include fszV(2.5);
    font-weight: 500;
    height: 4dvh;
    color: $prime-blue;


    span {
      @include fszV(2.5);
      font-weight: 500;
      
      &.grey {
        color: $text-color;
      }
    }
  }

  &-registration {
    margin-top: 4dvh;
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 15dvh;

    &_form {  
      font-size: 14px;

      &--label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5dvh;
        margin-bottom: 4px;
        color: $text-color;
      }

      input {
        min-width: 300px;
        margin-bottom: 6px;
        font-size: 16px;
      }
      
      p {
        height: 7dvh;

        a {
          @include fszV(3);
          color: $prime-green;
          cursor: pointer;
        }
        
        span {
          @include fszV(3);
        }

        button {
          min-width: 200px;
        }
      }
    }
  }

  &-first {
    position: relative;
    background: $prime-blue;
    width: 100%;

    h3 {
      position: absolute;
      top: -10dvh;
      color: $prime-blue;
      width: 100%;
      max-width: 900px;
      padding-left: 16px;

      b {
        @include fszV(4);
        margin-right: 5px;
      }

      span {
        @include fszV(3.5);

      }
    }

    &_text {
      color: $white;
      @include fszV(2, 16);
      padding: 16px;
    }
  }
  &-second {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;

    h3 {
      @include fszV(3.5);
    }

    .benefits {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 16px;

      &-item {
        width: 40%;
        margin-bottom: 30px;
        transition: .2s;
        padding: 10px;
        
        // &:nth-child(1), &:nth-child(2) {
        //   margin-bottom: 30px;
        // }

        &:hover {
          padding: 10px;
        }

        &_title {
          margin-bottom: 10px;
          @include fszV(2.2, 20);
        }

        &_text {
          @include fszV(2, 16);
        }
      }
    }
  }
  &-third {
    background: $prime-grey;
    width: 100%;
  }
}