@import 'mixins';

:host {
  // margin-top: 80px;
  position: relative;
}

.main {
  flex-direction: column;

  &-logo {
    height: 19dvh;
    margin-top: 13dvh;
    color: $prime-blue;
    flex-direction: column;

    img {
      height: 100%;
    }
  }

  &-title {
    position: absolute;
    top: 27dvh;
    height: 3.5dvh;
  }

  &-text {
    display: inline-flex;
    align-items: center;
    @include fszV(2.5);
    font-weight: 500;
    height: 4dvh;
    color: $prime-blue;


    span {
      @include fszV(2.5);
      font-weight: 500;
      
      &.grey {
        color: $text-color;
      }
    }
  }

  &-registration {
    margin-top: 4dvh;
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 15dvh;

    &_form {  
      font-size: 14px;

      > p {
        display: flex;
        align-items: center;
        
        > * {
          margin-right: 5px;
          display: flex;
          align-items: center;
        }
        a {
          margin: 0;
        }
      }

      &--label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5dvh;
        margin-bottom: 4px;
        color: $text-color;
      }

      input {
        min-width: 300px;
        margin-bottom: 6px;
        font-size: 16px;
      }
      
      p {

        a {
          @include fszV(3);
          color: $prime-green;
          cursor: pointer;
        }
        
        span {
          @include fszV(3);
        }

        button {
          min-width: 200px;
        }
      }
    }
  }

  &-first {
    display: flex;
    flex-direction: column;
    position: relative;
    background: $prime-blue;
    width: 100%;

    &_title {
      color: $prime-blue;
      width: 100%;
      max-width: 900px;
      padding-left: 16px;
      margin: 0;

      b {
        font-size: 21px;
        margin-right: 5px;
      }

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &_text {
      color: $white;
      @include fszV(2, 16);
      padding: 16px;
    }

    .benefits-title {
      font-size: 20px;
      color: white;
      margin-bottom: 0;
      padding: 0 16px;
      margin-top: 60px;
    }
  }
  &-second {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;

    h3 {
      font-size: 20px;
    }

    .benefits {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 16px;

      &-item {
        width: 40%;
        margin-bottom: 30px;
        transition: .2s;
        padding: 10px;
        
        @include w-mobile {
          width: 100%;
          padding: 0;
        }

        &:hover {
          padding: 10px;
        }

        &_title {
          margin-bottom: 10px;
          font-size: 20px;
        }

        &_text {
          @include fszV(2, 16);
        }
      }
    }

    .world-title {
      font-size: 20px;
      color: $prime-grey;
      margin: 0;
      padding: 0 16px;
    }
  }
  &-third {
    background: $prime-grey;
    width: 100%;
    display: flex;
    
    .world {

      &-text {
        padding: 16px;
        color: white;
      }
    }


    
  }
  &-fourth {
    position: relative;
    background: $prime-blue;
    width: 100%;
  }
}