<org-header></org-header>

<div class="main flex">
  <img class="main-logo" [srcPath]="'msr-logo-phone-no-title.svg'"/>
  <img class="main-title" [srcPath]="logoTitle$i()"/>
 
  <p class="main-text" (click)="getUsers()">
    <span [text]="{
      ENG: 'MOBILE SECURITY',
      ESP: 'Есп',
      RUS: 'МОБИЛЬНЫЙ',
    }">MOBILE SECURITY</span>&nbsp;
    <span class="grey" [text]="{
      ENG: 'REMOTE',
      ESP: 'Есп',
      RUS: 'УДАЛЁННЫЙ',
    }">REMOTE</span>&nbsp;
    <span [text]="{
      ENG: 'RECORDER',
      ESP: 'Есп',
      RUS: 'РЕГИСТРАТОР',
    }">RECORDER</span>
  </p>

  <div class="main-registration flex">
    <form (submit)="submitUserName($event)" class="main-registration_form">
      <label class="main-registration_form--label" [text]="{
        ENG: 'Registration',
        ESP: 'Registro',
        RUS: 'Регистрация',
      }">Registration</label>
      <input [(ngModel)]="userName" class="" [placeholder]="inputPlaceholder$i()" type="username" name="name">
      <p>
        @if (userName.length) {
          <button type="submit" class="mainButton" [text]="{
            ENG: 'Create Account',
            ESP: 'Crear una cuenta',
            RUS: 'Создать аккаунт',
          }">Create Account</button> 
          <span [text]="{
            ENG: 'or',
            ESP: 'o',
            RUS: 'или',
          }">or</span>
        } @else {
          <span [text]="{
            ENG: 'Already registered?',
            ESP: '¿Ya registrado?',
            RUS: 'Уже зарегистрирован?',
          }">Already registered?</span> 
        }
        <a routerLink="/auth" [text]="{
          ENG: ' Sign in.',
          ESP: ' Iniciar sesión.',
          RUS: ' Войти.',
        }"> Sign in.</a>
      </p>
    </form>
  </div>

  <h3 class="main-first_title container">
    <b [text]="{
      ENG: 'MSR:',
      ESP: 'MSR:',
      RUS: 'МУР:',
    }">MSR:</b>
    <span [text]="{
      ENG: 'Your Partner in Personal Safety',
      ESP: 'Ddfsrdы',
      RUS: 'Ваш партнёр в персональной безопасности',
    }">Your Partner in Personal Safety</span>
  </h3>
  <div class="main-first flex wrapper">
    <p class="main-first_text container" [text]="text['innovative']">
      Mobile Security Remote Recorder is an innovative safety solution designed to empower
      individuals with the ability to discreetly initiate video and audio recordings from their phone,
      instantly uploading the footage to a secure server. This cutting-edge system is tailored for moments
      when capturing and preserving real-time events is crucial for security and evidence purposes.
      Whether you're facing a threat, witnessing a critical incident, or simply want to ensure your
      safety in uncertain situations,MSR provides an immediate and secure way to record and store evidence
      without drawing attention.
    </p>

    <h3 class="benefits-title container" [text]="{
      ENG: 'Who Can Benefit from MSR?',
      ESP: 'Ddfsrdы ыф фыаы фв',
      RUS: 'Кому необходимо наше приложение?',
    }">Who Can Benefit from MSR?</h3>
  </div>

  <div class="main-second flex container">
    <div class="benefits">
      <div class="benefits-item">
        <div class="benefits-item_title" [text]="{
          ENG: 'For Everyday Heroes',
          ESP: 'Ddfsrdы ыф фыаы фв',
          RUS: 'Для повседневных героев',
        }">For Everyday Heroes</div>
        <div class="benefits-item_text" [text]="text['citizen']">
          Whether you're a concerned citizen witnessing an injustice or someone who frequently finds
          themselves in situations where safety is a concern, MSR empowers you to act swiftly and securely.
        </div>
      </div>
      <div class="benefits-item">
        <div class="benefits-item_title" [text]="{
          ENG: 'For Professionals in the Field',
          ESP: 'Ddfsrdы ыф фыаы фв',
          RUS: 'Для профессионалов в опасных профессиях',
        }">For Professionals in the Field</div>
        <div class="benefits-item_text" [text]="text['journalists']">
          Journalists, private investigators, and security personnel can utilize MSR to discreetly gather
          evidence and record events without compromising their position or safety.
        </div>
      </div>
      <div class="benefits-item">
        <div class="benefits-item_title" [text]="{
          ENG: 'For Adventure Seekers',
          ESP: 'Ddfsrdы ыф фыаы фв',
          RUS: 'Для искателей приключений',
        }">For Adventure Seekers</div>
        <div class="benefits-item_text" [text]="text['adventurers']">
          Adventurers and explorers venturing into remote or potentially risky environments can rely on
          MSR for documenting encounters and ensuring a digital footprint of their journey is securely preserved.
        </div>
      </div>
      <div class="benefits-item">
        <div class="benefits-item_title" [text]="{
          ENG: 'For the Safety-Conscious Individual',
          ESP: 'Ddfsrdы ыф фыаы фв',
          RUS: 'Для людей, заботящихся о персональной безопасности',
        }">For the Safety-Conscious Individual</div>
        <div class="benefits-item_text" [text]="text['anyone']">
          Anyone who values personal safety and the peace of mind knowing they can discreetly
          record situations that feel unsafe or threatening will find MSR indispensable.
        </div>
      </div>
    </div>

    <h3 class="world-title container" [text]="{
      ENG: 'Empowering Security Through Technology',
      ESP: 'Potenciando la seguridad a través de la tecnología',
      RUS: 'Улучшение безопасности при помощи технологий',
    }">Empowering Security Through Technology</h3>
  </div>
  <div class="main-third flex wrapper">
    <div class="world container">
      <div class="world-text" [text]="text['world']">
        In a world where uncertainty can loom around any corner, MSR offers more than just a recording application; 
        it's a commitment to personal safety and security. Our platform is built on the foundation of discretion, 
        reliability, and immediate response to ensure that your recordings are made securely and uploaded instantly 
        for evidence preservation.
      </div>
    </div>
  </div>

  <div class="main-fourth flex wrapper">
    <!-- <div class="technology-title">Empowering Security Through Technology</div> -->

    <div class="technology container">

    </div>
  </div>
  <org-footer></org-footer>
</div>
