<div class="notifications">
  <div class="notifications-title" [text]="{
    ENG: 'Setting up alerts in other ways',
    ESP: 'Configurar alertas de otras formas',
    RUS: 'Настройка оповещений другими способами',
  }">Setting up alerts in other ways</div>

  <div class="notifications-email">
    <div class="notifications-email_text"[text]="{
      ENG: 'Add email:',
      ESP: 'Agregar correo:',
      RUS: 'Добавить email:',
    }">Add email:</div>

    <div class="tags">
      <div class="tags-list">
        <span class="tags-list_tag" *ngFor="let tag of tags">
          {{ tag }}
          <button (click)="removeTag(tag)">×</button>
        </span>
      </div>
      <input class="tags-input" type="text" (keydown.enter)="addTag($event)" [placeholder]="inputPlaceholder()">
    </div>
  </div>
</div>
