
// COLORS:
$prime-blue: #003366;
$second-blue: #004e9d;
$prime-green: #4CAF50;
$second-green: #388E3C;
$white: #FFFFFF;
$prime-grey: #808080;
$transparent-grey: #A0A0A0;
$super-transparent-grey: #C0C0C0;
$text-color: #333333;
$red-color: #c70000;
$red-color-hover :#8d0000;
// Основной цвет (Темно-синий/$prime-blue): 40% - Для шапки, подвала и важных элементов управления.
// Второстепенный цвет (Серый/$prime-grey:hover $second-green): 30% - Фон страниц, панели навигации и вспомогательные элементы.
// Фоновый цвет (Белый/$white): 20% - Фон для основного контента и страниц.
// Акцентный цвет (Зеленый/$prime-green): 5% - Кнопки, ссылки, и подсказки.
// Текст (Темно-серый/$text-color): 5% - Основной текст и заголовки.


$org-border-radius: 6px;
