@if (isLoggedIn) {
<div class="registration-profile">
  <button class="registration-profile--record btn-primary" routerLink="/capture">
    <p class="circles"></p>
    <span
      [orgText]="{
      ENG: 'Start an emergency video recording!',
      ESP: 'Iniciar la grabación de vídeo de emergencia!',
      RUS: 'Начать экстренную видео запись!',
    }"
    >
      Начать экстренную видео запись!
    </span>
  </button>

  <div>
    <button
      class="registration-profile btn-primary"
      (click)="goToProfile()"
      [orgText]="{
        ENG: 'Profile',
        ESP: 'Profile',
        RUS: 'Профиль',
      }"
    >
      Профиль
    </button>
    <button
      class="registration-profile btn-err"
      (click)="logout()"
      [orgText]="{
        ENG: 'Logout',
        ESP: 'Salir',
        RUS: 'Выйти',
      }"
    >
      Выйти
    </button>
  </div>
</div>
} @else {
<form (submit)="submitUserName($event)" class="main-registration_form">
  <label
    class="main-registration_form--label"
    [orgText]="{
      ENG: 'Registration',
      ESP: 'Registro',
      RUS: 'Регистрация',
    }"
    >Registration</label
  >
  <input [(ngModel)]="userName" class="" [placeholder]="inputPlaceholder$i()" type="username" name="name" />
  <p>
    @if (userName.length) {
    <button
      type="submit"
      class="mainButton"
      [orgText]="{
          ENG: 'Create Account',
          ESP: 'Crear una cuenta',
          RUS: 'Создать аккаунт',
        }"
    >
      Create Account
    </button>
    <span
      [orgText]="{
          ENG: 'or',
          ESP: 'o',
          RUS: 'или',
        }"
      >or</span
    >
    } @else {
    <span
      [orgText]="{
          ENG: 'Already registered?',
          ESP: '¿Ya registrado?',
          RUS: 'Уже зарегистрирован?',
        }"
      >Already registered?</span
    >
    }
    <a
      routerLink="/auth"
      (click)="goToAuth(userName)"
      [orgText]="{
        ENG: ' Sign in.',
        ESP: ' Iniciar sesión.',
        RUS: ' Войти.',
      }"
    >
      Sign in.</a
    >
  </p>
</form>
}
