@import 'mixins';

:host {
  .registration-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &--record {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .circles {
        background: red;
        border-radius: 50%;
        min-width: 20px;
        height: 20px;
        margin-right: 8px;
        outline: 2px solid;
      }
    }

    > div {
      display: flex;
      flex-direction: row;
      margin-top: 5px;

      .btn-err {
        margin-left: 5px;
      }
    }
  }

  > p {
    display: flex;
    align-items: center;

    > * {
      margin-right: 5px;
      display: flex;
      align-items: center;
    }
    a {
      margin: 0;
    }
  }

  &--label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 4px;
    color: $text-color;
  }

  input {
    min-width: 300px;
    margin-bottom: 6px;
    font-size: 16px;
  }

  p {
    a {
      @include fszV(3);
      font-size: 14px;
      color: $prime-green;
      cursor: pointer;
    }

    span {
      @include fszV(3);
      font-size: 14px;
    }

    button {
      min-width: 200px;
    }
  }
}
