@import 'mixins';

.lang {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 10dvh;
  @include unselectable;

  // &:hover {
  //   color: $text-color;
  // }

  &-select {
    color: $prime-grey;
  }

  &:hover > &-options {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0s linear;
  }

  &-options {
    visibility: hidden; /* Элемент невидим, но все еще занимает место в макете */
    opacity: 0; /* Полностью прозрачный */
    transition: visibility 0s 2s, opacity 2s linear;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9.9dvh;
    left: -2dvh;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    @include unselectable;
    cursor: pointer;

    &_item {
      transition: .3s;
      @include glass-bg;
      padding: 2dvh;

      &:hover {
        background: transparent;
      }
    }

    .--current {
      color: $prime-green;
    }
  }
}