<div class="video">
  <video width="200" height="auto" controls (loadedmetadata)="onMetadataLoaded($event)">
    <source [src]="videoPath" type="video/mp4" />
    Ваш браузер не поддерживает видео тег.
  </video>

  <div class="video-text">
    <div class="video-text_data">
      <span
        [orgText]="{
        ENG: 'Date of download: ',
        ESP: 'Date of download: ',
        RUS: 'Дата загрузки: ',
      }"
        >Date of download:
      </span>
      <p>{{ videoDate }}</p>
    </div>
    <div class="video-text_duration">
      <span
        [orgText]="{
        ENG: 'Duration: ',
        ESP: 'Duration: ',
        RUS: 'Продолжительность: ',
      }"
        >Duration:
      </span>
      <p>{{ videoDuration }}</p>
    </div>
    <button
      class="video-text_download btn-primary"
      [orgText]="{
      ENG: 'Download',
      ESP: 'Download',
      RUS: 'Загрузить',
    }"
    >
      Загрузить
    </button>

    @if (isOwn) {
    <button
      class="video-text_delete btn-err"
      [orgText]="{
        ENG: 'Delete',
        ESP: 'Eliminar',
        RUS: 'Удалить',
      }"
    >
      Удалить
    </button>
    }
  </div>
</div>
