@import 'mixins';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 12dvh;
  min-height: 86dvh;
  margin-bottom: 2dvh;
  box-sizing: border-box;
  padding: 30px;
  @include w-mobile {
    padding: 16px;
  }
  @include org-border;

  &-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    border-bottom: 1px solid $transparent-grey;
    padding-bottom: 10px;

    &_image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $transparent-grey;
      margin-right: 30px;
      @include unselectable;
      @include w-mobile {
        margin-right: 10px;
      }
      border-radius: 50%;
      min-width: 80px;
      width: 80px;
      height: 80px;
      transition: .3s;
    }

    &_data {
      
      &--name {

      }
      &--email {

      }
      &--tarif {

      }
    }

    &_buttons {
      margin-left: auto;

      &--record {

      }

      &--settings {
        display: flex;
        height: 40px;
        background: none;
        border: none;
        margin-left: auto;
        @include unselectable;
        cursor: pointer;
        
  
        img {
          display: block;
          width: 30px;
          height: 30px;
          transition: .6s;
        }
  
        &:hover img {
          transform: rotate(45deg);
        }
      }
    }

    &_capture {
      height: fit-content;
      width: auto;
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    height: 100%;

    &_menu {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 200px;
      margin: 10px 0;

      &--arrow {
        display: none;
      }

      button {
        @include fszP(18px,18px);
        background-color: transparent;
        border: none;
        text-align: left;
        padding: 8px;
        border-radius: 5px 0 0 5px; 
        box-sizing: border-box;
        transition: 0s;
        cursor: pointer;

        &.active {
          background-color: $transparent-grey;
        }

        &:hover:not(.active) {
          border-left: 3px solid $transparent-grey;
          transform: translateX(-3px);
        }
      }
    }
    
    &_sections {
      min-height: calc(86dvh - 160px);
      width: 100%;
      border-left: 1px solid $transparent-grey;
    }
  }
  
}

.--mobile {
  .profile {
    border: none;
    box-shadow: none;


    &-header {

      &_data {
        margin-right: 5px;
        &--name {
  
        }
        &--email {
  
        }
        &--tarif {
  
        }
      }
    }
    &-body {
      flex-direction: column;
      height: auto;

      &_menu {
        width: 100%;
        margin: 5px 0;

        &--arrow {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
          height: 8px;
          width: 8px;
          transition: .3s;
          transform-origin: 0% 33%;
          transform: rotateX(180deg);
  
          &:after {
            content: "";
            display: block;
            height: 8px;
            width: 8px;
            border: 2px solid $prime-blue;
            border-left: none;
            border-bottom: none;
            transform: rotate(-45deg);
          }
        }

        button {
          height: 45px;
          border-radius: 5px;
          text-align: center;
          transition: .2s;
          @include fszV(3, 18);

          -webkit-tap-highlight-color: transparent; /* Для iOS Safari */
          
          &.active {
            background-color: transparent;
          }

          &:hover:not(.active) {
            border-left: none;
            transform: translateX(0px);
          }

          &:not(.active) {
              height: 0px;
              padding: 0 8px;
              overflow: hidden;
          }
        }
      }

      .--openMenu {
        background: rgba(228, 228, 228, 0.3);
        border-radius: 5px;

        &.profile-body_menu {
          button {
            height: 45px;
            &.active {
              background-color: $transparent-grey;
            }
            &:not(.active) {
              background: transparent;
            }
          }
        }
  
        .profile-body_menu--arrow  {
          transform: rotateX(0);
        }
      }

      &_sections {
        min-height: calc(86dvh - 160px);
        padding-left: 0;
        border-left: none;
        border-top:1px solid $transparent-grey;
      }
    }
  }
}