<div class="header">
  <org-logo [linkToMain]="true" [isTitle]="(isMobile$ | async) === false"></org-logo>

  <div class="header-buttons">

    <button class="header-buttons_reg" (click)="goToPath('/registration')" [text]="{
      ENG: 'REGISTRATION',
      ESP: 'REGISTRO',
      RUS: 'РЕГИСТРАЦИЯ'
    }">REGISTRATION</button>
    <button class="header-buttons_auth" (click)="goToPath('/auth')" [text]="{
      ENG: 'AUTHORIZATION',
      ESP: 'AUTORIZACIÓN',
      RUS: 'АВТОРИЗАЦИЯ'
    }">AUTHORIZATION</button>

    <org-lang></org-lang>

    <button class="header-buttons_auth" (click)="goToPath('/profile')"><img [srcPath]="'empty-avatar.svg'"></button>
  </div>
</div>
